@font-face {
    font-family: "Font";
    src: url("MuseoSans_500.otf");
}

html,body {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    overflow-y:scroll;
}

.selfwrapper {
    height: auto;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
}

.header {
    background-color: #2A2E38;
    width: 100%;
    height: 70px;
}

.header p{
    margin: 0;
    padding-top: 25px;
    padding-right: 40px;
    font-size: 20px;
    font-family: Font;
    width: auto;
    float: right;
    color: white;
}

.header a{
    color: white;
}

.logo {
    height: 100%;
    width: 300px;
    float: left;
}

.logo img {
    height: 100%;
}

#eventfilter {
    margin-top: 20px;
}
.navbar {
    float: left;
    background-color: white;
    width: 25%;
    height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;

}

#content {
    float: left;
    background-color: white;
    width: 75%;
    height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    margin-top: 20px;
}

.empty {
    padding-top: 35vh;
    width: 100%;
    height: 100%;
}

.empty h1{
    text-align: center;
    font-family: Font;
    opacity: 0.4;
}

.button {
    width: 100%;
    height: 30px;

}

.button:hover {
    cursor: pointer;
}

.button p {
    font-size: 20px;
    font-family: Font;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 70%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.button p:hover {
    color: grey;
}

.button img {
    float: right;
    width: 25px;

}

.turn {
    transform: rotate(90deg);
}

.filtertab {
    height: 100%;
    overflow: hidden;
    display: none;
    list-style-type: none;
    padding-left: 23px;
    font-family: Font;
    margin-top: 5px;
}

.filtertab li {
    padding: 2px;
}

.filtertab li:hover {
    color: grey;
}


.checkbox {
    display: inline-block;
}

.p_filter {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 80%;
}

.show {
    display: block;
}

.checkboxes, .all_checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    display: inline-block;
    position: relative;
    margin: 0;
    margin-right: 5px;
}

.all_checkbox {
    margin-left: 2px;
}

.checkboxes:active, .checkboxes:checked:active, .all_checkbox:active, .all_checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkboxes:checked, .all_checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.checkboxes:checked:after, .all_checkbox:checked:after {
    content: '\2714';
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 3px;
    color: black;
}

.eventblock {
    width: 32%;
    float: left;
    height: 340px;
    margin-bottom: 15px;
}

.eventblock a{
    text-decoration: none;
    width: 32%;
    height: 340px;
}

.event {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.event:hover {
    opacity: 0.8;
}



.eventheader{
    width: 100%;
    height: 200px;
    background-color: grey;

}

.eventheader img{
    width: 100%;
    height: 200px;
}

.eventtitle{
    width: 100%;
    height: 40px;
    background-color: #2A2E38;
}

.eventtitle h1{
    font-family: Font;
    font-size: 20px;
    margin: 0;
    padding-top: 7px;
    text-align: center;
    color: white;
}

.eventinfo {
    width: 100%;
    height: 100px;
}

.eventdate{
    width: 20%;
    height: 100%;
    float: left;
    background-color: #3461D1;
}

.day, .month{
    font-family: Font;
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.month{
    padding-top: 10px;
}

.eventsubinfo{
    width: 80%;
    height: 100%;
    float: left;
}

.eventsubinfo p{
    margin: 0;
    font-family: Font;
    padding-left: 10px;
    padding-bottom: 4px;
    color: black;
}

.firstp{
    padding-top: 10px;
}

.item a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-family: Font;
}

.login {
    padding-top: 30px;
    padding-left: 30px;

}

.eventitem{
    overflow: hidden;
    width: 1000px;
    padding-left: 30px;
}

.create {
    background-color: #378b9e;
    text-align: center;
    width: 140px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

.create a{
    text-decoration: none;
    color: black;
    line-height: 10px;
    width: 140px;
}

.createform {
    padding-left: 30px;
    padding-top: 30px;
}

@media screen and (max-width: 1036px) {
    .eventblock {
        width: 49%;
    }

    .eventblock a{
        width: 49%;
    }
}


@media screen and (max-width: 737px) {

    .header{
        display: none;
    }

    .navbar {
        width: 100%;
    }

    #content {
        width: 100%;
    }

    .button p{
        width: 90%;
        padding-left: 0px;
    }

    .eventblock {
        width: 100%;

    }

    .eventblock a{
        width: 100%;
    }

    .empty {
        padding-top: 50px;
        width: 100%;
        height: 100%;
    }

}







